<a href="https://colab.research.google.com/github/AdrianoDRJB/AdrianoDRJB/blob/main/C%C3%B3pia_de_Exerc%C3%ADcios_0_a_100.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def Z(lista1,lista2,x): 
  z= 0 
  for a in lista1:
   if a ==x:
      z+=1 
  for b in lista2: 
    if b==x: z+=1 
  return z 
a = ['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc'] 
b = ['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc','xms','cds','dn','cdn','dnc','xml','a'] 
y = Z(a,b,'dnc')
print(y)

7

In [ ]:
def contador_x (lista1,lista2,x):
  contador=0 
  for a,b in zip(lista1,lista2): 
    if a =='x' and b=='x':
       break
    else: 
        contador+=1
    return contador 
a = ['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc']    
b = ['dnc','abc','bnc','mnc','dnc','bnc','Dnc','ncd','dnc','dncdnc','ddnc','xms','cds','dn','cdn','dnc','xml','a']
y = contador_x(a,b,'dnc') 
print(y)

1

In [ ]:
lista = [13,2,19,11,7,9,19,16,17,7,7,10,1,6,'dnc',18,2,11,2,9,10] 
X=0 
i=0
while True:
    if lista[i] == 'dnc': 
     break 
    if lista[i]%2 == 1: 
      X += lista[i] 
      i += 1 
      print(X)

13

KeyboardInterrupt: ignored

In [ ]:
nome = input('Digite seu nome ')
print(f'Bem vindo ao curso {nome}')

Digite seu nome Adriano
Bem vindo ao curso Adriano

In [ ]:
n1 = int(input('digite um numero: '))
n2 = int(input('digite outro numero: '))
soma = n1 + n2
print(f'Você digitou {n1} e {n2}, a soma é {soma}')

digite um numero: 23
digite outro numero: 7
Você digitou 23 e 7, a soma é 30

In [ ]:
a = input('digite algo: ')
print(type(a))
print('é um numero? ', a.isnumeric())
print('é espaço?', a.isspace())
print('está captalizado? ',a.istitle())
print('somente letras? ',a.isalpha())

digite algo: Adriano1987
<class 'str'>
é um numero?  False
é espaço? False
está captalizado?  True
somente letras?  False

In [ ]:
num = int(input('digite um numero: '))
print(f'analisando seu numero: é o {num} o antecessor é {num -1} e o sucesso é {num+1}')

digite um numero: 23
analisando seu numero: é o 23 o antecessor é 22 e o sucesso é 24

In [ ]:
num = int(input('digite um numero: '))
print(f'seu numero é {num} \no dobro é {num*2} \no triplo é {num*3} \ne a raiz quadrada é {(num) ** 0.5}')

digite um numero: 100
seu numero é 100
o dobro é 200
o triplo é 300
e a raiz quadrada é 10.0

In [ ]:
num1 = int(input('digite a primeira nota: '))
num2 = int(input('digite a segunda nota: '))
soma = num1 + num2
media = soma / 2
print(f'sua primeira nota foi {num1}  a segunda nota foi {num2} e a media foi {media}')

digite a primeira nota: 7
digite a segunda nota: 9
sua primeira nota foi 7  a segunda nota foi 9 e a media foi 8.0

In [ ]:
Distância = int(input('Digite uma distancia em metros: '))
print(f'A distância digitada foi {Distância} m. \nem km vale {Distância * 1000} \nem hm vale {Distância * 100} \nem dam vale {Distância * 10} \nem dm vale {Distância / 10} \nem cm vale {Distância / 100} \nem mm vale {Distância / 1000}')

Digite uma distancia em metros: 7
A distância digitada foi 7 m.
em km vale 7000
em hm vale 700
em dam vale 70
em dm vale 0.7
em cm vale 0.07
em mm vale 0.007

In [ ]:
num = int(input('digite um numero: '))
mult = cont = 0
for n in range(0,11,1):
  mult = n * num
  cont += 1
  print(f'{num} * {n:2} = {mult:>2}')
print('-='*30)
print('Fim da tabuada')

digite um numero: 7
7 *  0 =  0
7 *  1 =  7
7 *  2 = 14
7 *  3 = 21
7 *  4 = 28
7 *  5 = 35
7 *  6 = 42
7 *  7 = 49
7 *  8 = 56
7 *  9 = 63
7 * 10 = 70
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
Fim da tabuada

In [ ]:
num = int(input('Quanto dinheiro você tem? '))
print(f'Com {num} você consegue comprar {num/5.2:.2f} dólares.')

Quanto dinheiro você tem? 77
Com 77 você consegue comprar 14.81 dólares.

In [ ]:
larg = float(input('Qual a largura da parede? '))
alt = float(input('Qual a altura da parede? '))
area = larg * alt
litro = 1
qnt_de_tinta = area * 0.5
print(f'As dimensões da parede são {larg} x {alt} e isso em M2 é = {area:.2f}')
print(f'E para pintar tudo precisará de {qnt_de_tinta:.2f}l de tinta')

Qual a largura da parede? 3.2
Qual a altura da parede? 2.1
As dimensões da parede são 3.2 x 2.1 e isso em M2 é = 6.72
E para pintar tudo precisará de 3.36l de tinta

In [ ]:
preco = float(input('Quanto custa o produto? '))
print(f'O produto custa R$: {preco:.2f} mas com nosso desconto especial de 8% ele sai por R$: {preco - (preco * 0.08)}')

Quanto custa o produto? 23
O produto custa R$: 23.00 mas com nosso desconto especial de 8% ele sai por R$: 21.16

In [ ]:
salario = float(input('Digite o salario: '))
print(f'O salário do funcionário que ganha R$: {salario:.2f} vai para R$: {salario + (salario * 0.15):.2f} com 15% de aumento.')

Digite o salario: 4555
O salário do funcionário que ganha R$: 4555.00 vai para R$: 5238.25 com 15% de aumento.

In [ ]:
dias_alugado = int(input('Quantos dias alugou o carro? '))
km_rodado = int(input('Quantos km rodaram? '))
print(f'O total a pagar é R$: {(dias_alugado * 60) + (km_rodado * 0.15):.2f}')

Quantos dias alugou o carro? 7
Quantos km rodaram? 123
O total a pagar é R$: 438.45

In [ ]:
cateto_op = float(input('Digite o tamanho do cateto oposto: '))
cateto_adj = float(input('Digite o cateto adjacente: '))
hipotenusa = (cateto_op ** 2 + cateto_adj ** 2) ** (1/2)
print(f'A hipotenusa vale: {(cateto_op ** 2 + cateto_adj ** 2) ** (1/2)}')

Digite o tamanho do cateto oposto: 4
Digite o cateto adjacente: 4
A hipotenusa vale: 5.656854249492381

In [ ]:
import math
angulo = int(input('Qual ângulo gostaria de analisar? '))
seno = math.sin(math.radians(angulo))
print(f'O seno de {angulo} é: {seno}')
cos = math.cos(math.radians(angulo))
print(f'O cosseno de {angulo} é: {cos}')

Qual ângulo gostaria de analisar? 45
O seno de 45 é: 0.7071067811865475
O cosseno de 45 é: 0.7071067811865476

In [ ]:
import random
alunos = ['Adriano', 'Alex', 'Gabriela', 'Tiana', 'Cida', 'Ary']
sorteado = random.choice(alunos)
print(sorteado)

Ary

In [ ]:
import random
alunos = ['Adriano', 'Alex', 'Gabriela', 'Tiana', 'Cida', 'Ary']
for sort in alunos:
  sort = random.choices(alunos)
  print(sort)

['Cida']
['Ary']
['Tiana']
['Gabriela']
['Adriano']
['Cida']

In [16]:
nome = str(input("Digite seu nome: "))
print(f'seu nome em maiúsculas é: {nome.upper()}')
print(f'seu nome em minúsculas é: {nome.lower()}')
print(f'seu nome todo tem {len(nome)- nome.count(" ")} letras.')
primeiro_nome = nome.split(" ")
print(primeiro_nome[0])

Digite seu nome: adriano tavares monteiro
seu nome em maiúsculas é: ADRIANO TAVARES MONTEIRO
seu nome em minúsculas é: adriano tavares monteiro
seu nome todo tem 22 letras.
adriano

In [20]:
num = int(input('Digite um numero: '))
u = num // 1 % 10
d = num // 10 % 10
c = num // 100 % 10
m = num // 1000 % 10
print("Analisando seu número")
print("unidade: {}".format(u))
print("dezena: {}".format(d))
print("centena: {}".format(c))
print("milhar: {}".format(m))

Digite um numero: 2332
Analisando seu número
unidade: 2
dezena: 3
centena: 3
milhar: 2

In [22]:
cidade = str(input("Qual nome da sua cidade: ")).strip()
print(cidade[:5].upper() == "SANTO")

Qual nome da sua cidade: engemheiro paulo de frontin
False

In [1]:
nome = str(input("Digite seu nome completo: "))
print("seu nome tem silva? {}".format('Silva'in nome))

Digite seu nome completo: Adriana da Silva Tavares
seu nome tem silva? True

In [10]:
frase = str(input("Digite uma frase: "))
print("a letra a aparece {} vezes".format(frase.count('a')))
print("a primeira letra a aparece na posição {}".format(frase.find('a')))
print("a ultima letra a aparece na posição {}".format(frase.rfind('a')))

Digite uma frase: mengao ganhou, porra
a letra a aparece 3 vezes
a primeira letra a aparece na posição 4
a ultima letra a aparece na posição 19

In [16]:
nome = str(input("Digite seu nome completo: "))
print("Bien venido mtfcker")
#print("Seu primeiro nome é {}".format(nome.split()))
nome_dividido = nome.split()
print("Seu primeiro nome é {}".format(nome_dividido[0]))
print("Seu ultimo nome é {}".format(nome_dividido[len(nome_dividido)-1]))

Digite seu nome completo: Adriano Tavares Monteiro
Bien venido mtfcker
Seu primeiro nome é Adriano
Seu ultimo nome é Monteiro

In [23]:
from random import randint
jogo = randint(0,5)
usuario = int(input('Digite um número entre 0 e 5 '))
print(f'O correto seria {jogo}')
if jogo == usuario:
  print('Voce ganhou!')
else:
  print('não foi dessa vez')

Digite um número entre 0 e 5 3
O correto seria 3
Voce ganhou!